{% extends "base/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
{% load cart %}
<style>
   .product {
      display: inline-block;
      margin: 10px;
      text-align: center;
   }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
   $(document).ready(function () {
      $(".quantity-change").click(function () {
         var inputElement = $(this).siblings("input[type='number']");
         var currentValue = parseInt(inputElement.val());
         var changeAmount = parseInt($(this).data("change"));
         var newValue = currentValue + changeAmount;
         if (newValue >= 1) {
            inputElement.val(newValue);
         }
      });
   });
</script>

<div class="container">
   <div class="row">
      {% for product in products %}
      <div class="product">
         <div class="product-item" style="display: inline-block; vertical-align: top; margin-right: 100px;">
             <img src="{{ product.product_image.url }}" style="width: 400px; height: 400px; object-fit: cover;">
         </div>
         <h6><strong>{{ product.product_name }} - {{ product.product_price }}</strong></h6>
         <div class="card-footer p-0 row no-gutters" id="{{ product.product_id }}">
            {% if user.is_authenticated %}
               <form method="post" action="{% url 'add_to_cart' product_id=product.id %}">
                  {% csrf_token %}
                  <label for="quantity">Quantity:</label>
                  <div class="quantity-controls">
                     <input type="number" name="quantity" id="quantity" value="1" min="1" required>
                  </div>
                  <input type="hidden" name="next" value="{% url 'home' %}">
                  <input type="submit" value="Add to Cart">
               </form>
            {% else %}
            <style>
               .add-to-cart-button {
                  margin-right: 5px;
                  display: block;
                  margin: auto;
                  text-align: center;
               }
            
               .add-to-cart-button a {
                  color: #007bff; /* Set the color to blue */
                  border-color: #007bff; /* Set the border color to blue */
               }
            
               .add-to-cart-button a:hover {
                  background-color: #007bff; /* Change the background color on hover to blue */
                  color: #ffffff; /* Change the text color on hover to white */
               }
            </style>
            
            <div class="add-to-cart-button">
               <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Add to Cart</a>
            </div>
            
            {% endif %}
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock content %}
